In [2]:

sentence = "the is was were they the is was were there"
set  (sentence.split())

{'is', 'the', 'there', 'they', 'was', 'were'}

In [9]:
name1 = "Leon S Kennedy"
name2 = "Ada Wong"

vowels = set('aeiou')
name1_vowels = vowels.intersection(name1)
name2_vowels = vowels.intersection(name2)
name1_vowels
name2_vowels
name2_vowels.intersection(name1_vowels)

{'o'}

In [24]:
name={'mohammad','ada','rahul' }
type(name)
len(name)

3

In [29]:
name_length={}
for i in name:
    print(i)
len(i)
name_length=len(i)
name_length

rahul
ada
mohammad

8

In [33]:
tele_dir = {}
name={'asif':'9984118111','mohd':'98383030','khan':'9838302075','sidd':'123456789','singh':'0909090909'}
tele_dir['keys']= 'Value'
tele_dir

{'keys': 'Value'}

In [32]:
my_dict  =  {
   'mohd':'100',
   'asif':'50',
   'sidd':'40'
}
my_dict['mohd','asif']  = 70,100,50
print(my_dict)

{'mohd': '100', 'asif': '50', 'sidd': '40', ('mohd', 'asif'): (70, 100, 50)}