In [1]:
a=5
f=1
for i in range(2,a+1):
    f*=i
    print(f)

2
6
24
120

In [7]:
def add(a,b):
    c=a+b
    print("addition of:",c)
#add(10,15)
x=int(input("enter the ist no"))
y=int(input("enter the 2nd no"))
add(x,y)

addition of: 30

In [7]:
def printsum():
    a,b=10,20
    print(a+b)
    print("this function will always give  some output")
printsum()

30
this function will always give  some output

In [9]:
#  requered parametrized ()
def getsum(a,b):
    c=a+b
    print(c)

In [ ]:
getsum(10,20)

In [17]:
# default parameter
def getmessage(msg="you are too lazy to give a parameter"):
    print(msg)

In [22]:
getmessage()
getmessage('i am not lazy')
getmessage("hello")

you are too lazy to give a parameter
i am not lazy
hello

In [25]:
def percent(marks,max_marks=600):
    p=marks/max_marks*100
    print(p)
    print(f'{p}%')

In [27]:
percent(453)

75.5
75.5%

In [34]:
# create a function that takes as parameter and prints all numbers divisible by 11 in that range
def checkDiv(start = 100, end = 200):
    for i in range(start, end):
        if i%11 == 0:
            print(i)

In [35]:
checkDiv()

110
121
132
143
154
165
176
187
198

write a program to find all odd numbers  from 20 to 400

In [14]:
def odd(start = 20, end = 400):
    for i in range(start, end):
     if i % 2 != 0:
        print(i, end = " ")

In [15]:
odd()

21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199 201 203 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233 235 237 239 241 243 245 247 249 251 253 255 257 259 261 263 265 267 269 271 273 275 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309 311 313 315 317 319 321 323 325 327 329 331 333 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399

write a program  if a number divisible by 5 and 6 in range of 100 to 500

In [40]:
def divisible(start=100, end=500):
    for i in range(start, end):
        if i%5==0 and  i%6==0:
            print(i)

In [39]:
divisible()

120
150
180
210
240
270
300
330
360
390
420
450
480

3. write a program  take 5 names in input  and find their length.

In [49]:
# keyword parameter
print('arg',35)

arg 35

In [53]:
## variable length parameters:
t1=(1,2,3,4)
len(t1)
def AVG(*nums):
    average=sum(nums)/len(nums)
    print(average)

In [54]:
AVG(100,200,300)

200.0

In [18]:
def getdetails(name,maths,eng,hin,deprt):
    avg =maths+eng+hin/3
    print(f'name:{name}\n Avg:{avg}\n dept:{deprt}')

In [57]:
# Anonymous function:
#lambda expresion:
myfum=lambda i: i*2

In [58]:
myfum(20)

40

In [59]:
## Return value function:
def getprod(x,y):
    print(x*y)

In [61]:
res=getprod(10,20)

200

In [62]:
print(res)

None

In [63]:
# return value function:
def getprod(x,y):
    return x*y

In [66]:
res=getprod(45,34)
res

1530

In [2]:
def returnmultiple(a,b):
 return  a+b, a-b,a*b

In [4]:
returnmultiple(10,20)

(30, -10, 200)

In [ ]:
# genrated function:
# decorated function:

In [1]:
# list comprehancive:
# wap to find square 
a=[1,2,3,4,5]
a_square=[]
for i in a :
    a_square.append(i*i)

In [2]:
a_square

[1, 4, 9, 16, 25]

In [3]:
# sort syntax:
[i*i for i in a]

[1, 4, 9, 16, 25]

In [4]:
a

[1, 2, 3, 4, 5]

In [5]:
[i**2 for i in a if i%2==0]

[4, 16]

In [15]:
# wap to find 
names =['Leon','Ada','Krauser','saddler']

In [16]:
[name.replace('a','')for name in names]

['Leon', 'Ad', 'Kruser', 'sddler']

In [4]:
'Ada'.replace('a','')

'Ad'

In [6]:
 [name.replace('a','').replace('A','')for i in names]

NameError: name 'names' is not defined

In [23]:
# map(lambda Expresion, iterator )
res=map(lambda i: i**3,a)

In [24]:
list(res)

[1, 8, 27, 64, 125]

In [26]:
# wap to get the prices from thi list['$34.23/-','$67.34/-','$43.23/-','$54.99']
prices=['$34.23/-','$67.34/-','$43.23/-','$54.99']

In [19]:
price=['$34.23/-','$67.34/-','$43.23/-','$54.99']
cleaned=[]
for i in price:
    cleaned.append(i.strip('$/-'))
    print(cleaned)

['34.23']
['34.23', '67.34']
['34.23', '67.34', '43.23']
['34.23', '67.34', '43.23', '54.99']

In [20]:
cleaned

['34.23', '67.34', '43.23', '54.99']

In [29]:
cleaned_prices = []
for i in prices:
    cleaned_prices.append(i.strip('$/-'))

In [30]:
cleaned_prices

['34.23', '67.34', '43.23', '54.99']

In [2]:
prices=['$34.23/-','$67.34/-','$43.23/-','$54.99']
list(map(lambda i:float(i.strip('$/-')),prices))
list

list

In [2]:
# Filter:
ages=[45,12,41,65,34,50]

filter(lambda a:a>20,ages)
list(filter( lambda a: a>20,ages))

[45, 41, 65, 34, 50]

In [21]:
sorted(( ))

[]

In [1]:
name = "Saurabh Chandra Patel"
first_name = name.split(' ', 1)[0]
last_name = name.split(' ', 1)[1]
first_name,last_name

('Saurabh', 'Chandra Patel')

In [5]:
name = "Saurabh Chandra Patel"
list(map(lambda a:name.split(),name))
list

list