In [1]:
word="hello world"
for i in word:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [2]:
len(word)

11

In [3]:
print(word,end=" ")
print(i)
print('there')

hello world d
there

In [4]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(1, 20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [7]:
for i in range(2**3):
    print(i)

0
1
2
3
4
5
6
7

In [8]:
for i in range(10):
    print((i*'*').center(10))

    *
    **
   ***
   ****
  *****
  ******
 *******
 ********
*********

In [9]:
for i in range(1,20,2):
    print((i*'*').center(10))

    *
   ***
  *****
 *******
*********
***********
*************
***************
*****************
*******************

In [10]:
for i in range(1,20,2):
    print((i*'*').center(20))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [11]:
'*'.center(10)

'    *     '